/*csslint box-sizing: false, compatible-vendor-prefixes: false */
/* ---------------------------------------------------------------------
RESET CSS

Target Browsers: All
Media Type: Screen, Projection
Width: All Sizes
------------------------------------------------------------------------ */

/* ---------------------------------------------------------------------
RESET CSS (thanks Eric Meyer)
------------------------------------------------------------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

:focus {
    outline: 0;
}

/* Always show a vertical scrollbar, even when there is no scrolling */
html {
    overflow-y: scroll;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/* ---------------------------------------------------------------------
 HTML5 Block / Inline Block declarations
------------------------------------------------------------------------ */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
    display: block;
}

audio, canvas, video {
    display: inline-block;
}

/* ---------------------------------------------------------------------
 Form Reset Styles
------------------------------------------------------------------------ */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* ---------------------------------------------------------------------
 Base Styles
------------------------------------------------------------------------ */

body {
    padding: 10px;
    background-color: #999999;
}

body, 
button, 
input {
    font: 13px Arial;
}

input {
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 25px;
    margin-bottom: 10px;
}

code {
    font: 15px Courier;
    color: #eeeeee;
}

/* ---------------------------------------------------------------------
 Text Styles
------------------------------------------------------------------------ */

.textLg {
    font-size: 20px;
}

/* ---------------------------------------------------------------------
 List Styles
------------------------------------------------------------------------ */

.hlist {

}

.hlist:after {
    content: "";
    display: table;
    clear: both;
}

.hlist > * {
    float: left;
    margin-right: 10px;
}

.hlist > *:last-child {
    margin-right: 0px;
}

.vlist {
}

.vlist > * {
    margin-bottom: 10px;
}

.vlist > *:last-child {
    margin-bottom: 0px;
}

/* ---------------------------------------------------------------------
 Layout Styles
------------------------------------------------------------------------ */

.grid {

}

.grid-row {
    margin-bottom: 10px;
}

.grid-row:last-child {
    margin-bottom: 0px;
}

.grid-row:after {
    content: "";
    display: table;
    clear: both;
}

.grid-col {
    float: left;
}

.grid-col:after {
    content: "";
    display: table;
    clear: both;
}

.grid-col_20 {
    width: 20%;
}

.grid-col_80 {
    width: 80%;
}

/* ---------------------------------------------------------------------
 Panel  Styles
------------------------------------------------------------------------ */

.panel {
    background-color: #ffffff;
    box-shadow: 5px 5px 5px #777777;
    border-radius: 4px;
    padding: 10px;
}

/* ---------------------------------------------------------------------
 Button Styles
------------------------------------------------------------------------ */

.btn {
    cursor: pointer;
    background-color: #eeeeee;
    box-shadow: 3px 3px 5px #777777;
    border-radius: 4px;
    padding: 5px;

}

.btn:hover {
    background-color: #ff0000;
}

.btn_add {
    text-indent: 25px;
    background-repeat: no-repeat;
    background-position: 6px 6px;
    background-size: 15px 15px;
    background-image: url('../media/images/add.png');    
}

.btn_remove {
    text-indent: 25px;
    background-repeat: no-repeat;
    background-position: 6px 6px;
    background-size: 15px 15px;
    background-image: url('../media/images/remove.png');
}

/* ---------------------------------------------------------------------
 Draggable Styles
------------------------------------------------------------------------ */

.draggable > * {
    width: 80px;
    opacity: 0.5;
    cursor: move;
}

.draggable_isActive > * {
    opacity: 1.0;
}

.draggable > .sortable-placeholder {
    height: 80px;
    border: 1px dashed #CCC;
    background: none;
}

.transformList input {
    width: 40px;
    height: 20px;
}

/* ---------------------------------------------------------------------
 Table Styles
------------------------------------------------------------------------ */

.cellLg {
    width: 70px;
    min-width: 70px;
    height: 50px;
    padding-right: 15px;
    padding-bottom: 15px;
    text-align: center;
    vertical-align: middle;
}

.cellLg:last-child {
    padding-right: 0px;
}

.cellLg_auto {
    width: auto;
}

.cellLg input {
    text-align: center;
}

/* ---------------------------------------------------------------------
 Canvas Styles
------------------------------------------------------------------------ */

.canvas {
    background-color: #ffffff;
    border: 1px solid #cccccc;
}